<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="container menu">
          <div class="row menu-item"><button class="btn btn-outline-success" routerLink="/management/court-cases">Dossiers</button></div>
          <div class="row menu-item"><button class="btn btn-outline-success" routerLink="/management/clients">Clients</button></div>
          <div class="row menu-item"><button class="btn btn-outline-success" routerLink="/management/time-sheets">Time-sheet</button></div>
          <div class="row menu-item"><button class="btn btn-outline-success" routerLink="/document">Document</button></div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
